/* FilterBar Styles */
.filter-bar {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 0; /* Reduced margin to align with header */
  padding: 10px;
  position: relative;
  z-index: 999; /* Ensure it's below header */
}

.filter-bar select,
.filter-bar input,
.filter-bar button {
  margin: 5px 0;
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #ddd;
  width: 100%;
  max-width: 300px;
}

.filter-bar button {
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
}

.filter-bar button:disabled {
  background-color: #ccc;
}


@media (min-width: 600px) {
  .filter-bar {
    flex-direction: row;
    justify-content: center;
  }

  .filter-bar select,
  .filter-bar input,
  .filter-bar button {
    width: auto;
    max-width: none;
    margin: 0 5px;
  }
}
